$color-bg-grey: #595959;  // nav background
$color-button-bg: rgba(141, 153, 174, 0.2); // nav button on small screen
$color-button-hover: rgba(141, 153, 174, 0.6); // nav button:hover on small screen
$color-grey-light: #D1D1D1; //a:hover
$color-grey: #414141;  // a:active
$color-bg-light: #F6F6DA; // planer background
$color-bg-blue: #0e5c90;  // team background
$color-white: #ffffff; //text and nav link
$color-text-black: #000000; // text
$color-white-dirty: #EDF2F4; // nav button border on small screen
$color-accent-red: #d13232; // icons in function section
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;


.container {
	padding: 0 0;
	min-width: 240px;
}

.row {
	margin: 0; }

.section-title {
	font-family: $font-secondary;
	font-weight: bold;
	font-size: 2.5em;
}

nav {
	font-family: $font-primary;
	background-color: $color-bg-grey;

	button {
		background: $color-button-bg;
		align-items: center;
		margin: 0 0;
	}

	button:hover {
		background: $color-button-hover;
	}

	button:focus {
		outline: none
	}

	.navbar-toggler {
		border: 1px dotted $color-grey-light;
	}

	.navbar-toggler-icon {
		color: $color-white-dirty;
	}

	.nav-item a {
		color: $color-white;
		font-size: 20px;
		margin: 0 30px;
	}

	.nav-item a:hover {
		color: $color-grey-light;

	}

	.nav-item a:active {
		color: $color-grey;
		font-weight: bold;
	}

	.navbar-brand img {
		max-height: 50px;
	}
}

.header-top {
	width: 100%;
	min-height: 400px;
	height: 100vh;
	background: $color-white-dirty url(../images/header-background.jpg) top center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	/*zaplanuj.to LOGO*/
	.zaplanujto-logo{
		max-width: 250px;
		margin-top: 15%;
	}

	.welcome-text {
		color: $color-white;
		font-family: $font-secondary;
		font-weight:bold;
		font-size:60px;
	}

}

//ABOUT ZAPLANUJTO / 4 ICONS / Eight Additional functions
.app-functions {
	min-height: 500px;
	padding-top:40px;
	background-color: $color-bg-light;


	.app-functions-title p {
		font-size: 2em;
		font-weight: bold;
	}

	.app-description{
		margin-top: 1%;
	}

	.app-description img {
		width: 200px;
		padding: 0 0;
	}

	.app-description p {
		padding: 10px 10px;
		font-size: 22px;
		line-height: 1.3em;
	}

	.additional-app-function-row {
		margin-bottom: 20px;
	}

	.additional-app-function-container {
		margin-top: 20px;
		font-size: 20px;
	}

	.additional-app-function-row i {
		color: $color-accent-red;
	}

}

.team {
	min-height: 400px;
	background-color: $color-bg-blue;
	color: $color-white;
	padding-top: 45px;
	font-weight: bold;

	.team-member {
		padding-top: 30px;
	}

	.team-member-text {
		width: 100%;
		font-size: 24px;
		font-family: $font-primary;
		font-weight: bold;
		padding: 15px 0;
		color: $color-text-black;
	}

	.team-member-photo {
		padding: 0 0;
	}

	.team-member-photo img {
		width: 100%;
		max-width: 230px;
	}

	.team-member-social-icons {
		padding-bottom: 50px;

	}

	.team-member-text, i {
		color: $color-white;
		line-height: 1.2em;
	}

	.social-icons {
		font-size: 10px;
		width: 80%;
	}
}

/*END OF SITE*/
.end {
	height: 50px;
	background-color: $color-bg-grey;
	color: $color-white;

	p {
		padding-top: 15px;
	}
}

/*MEDIA QUERIES*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.navbar-brand {
		display: none;
	}
	/*Eight app functions*/
	.additional-app-function-row i{
		font-size: 50px;
	}
	.additional-app-function-row p{
		padding-left: 20px;
		padding-right: 0;

	}


}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.eig-logo {
		width: 150px;
	}

	.eig-logo-text {
		font-size: 3.5em;
	}

	.eig-logo-text-bottom {
		font-size: 2.0em;
	}
	.news-confirm {
		max-width: 400px;
	}
	.app-functions{
		padding-top: 60px;
	}
	.team{
		padding-top: 60px;
	}
	.additional-app-function-row p{
		padding-left: 20px;
		padding-right: 0;
	}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand {
		display: none;
	}

	.eig-logo {
		width: 250px;
	}
	.eig-logo-text {
		font-size: 4em;
	}
	.eig-logo-text-bottom {
		font-size: 2.2em;
	}

	/*LinkedIn and User Icons by Piotr Adam Kwiatkowski http://ikons.piotrkwiatkowski.co.uk*/
	.social-icons {
		max-width: 200px;
	}
	.app-functions{
		padding-top: 30px;
	}
	.team{
		padding-top: 50px;
	}
	.additional-app-function-row p{
		padding-left: 20px;
		padding-right: 0;

	}

}



/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) /*and (max-width: 1199px)*/ {
	.eig-logo {
		width: 250px;
	}
	.eig-logo-text {
		font-size: 4em;
	}
	.eig-logo-text-bottom {
		font-size: 2.2em;
	}
	.app-functions{
		padding-top: 70px;
	}
	.team{
		padding-top: 80px;
	}

}
