.container {
  padding: 0 0;
  min-width: 240px; }

.row {
  margin: 0; }

.section-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 75px; }

nav {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  box-shadow: 1px 1px 18px #0e5c90; }
  nav button {
    background: #595959;
    align-items: center;
    margin: 0 0; }
  nav button:hover {
    opacity: 0.5; }
  nav button:focus {
    outline: none; }
  nav .navbar-toggler {
    border: 1px solid #D1D1D1; }
  nav .navbar-toggler-icon .fa-bars {
    color: #EDF2F4;
    padding: 4px; }
  nav .nav-item {
    position: relative;
    padding: 0 8px; }
  nav .nav-item a {
    color: #0e5c90;
    font-size: 20px;
    margin: 0 30px; }
  nav .nav-item a:hover, nav .nav-item .active {
    color: #d13232; }
  nav .navbar-brand img {
    max-height: 50px; }

.header-top {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  background: #0e5c90 url(../images/header-background.jpg) top center no-repeat;
  background-size: cover; }
  .header-top .zaplanujto-logo {
    max-width: 150px;
    display: none; }
  .header-top .welcome-text {
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: bold;
    opacity: 0; }
  .header-top .join-us-btn {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    transition-duration: 0.5s;
    opacity: 0; }
  .header-top .join-us-btn:hover {
    color: #0e5c90;
    background-color: #ffffff; }

.app-functions {
  min-height: 500px;
  background-color: #F6F6DA;
  box-sizing: border-box; }
  .app-functions .app-description {
    box-sizing: border-box; }
  .app-functions .app-functions-title p {
    font-size: 25px;
    font-weight: bold; }
  .app-functions .app-description img {
    width: 175px;
    padding: 0 0;
    display: none; }
  .app-functions .app-description img:hover {
    padding-top: 0;
    padding-bottom: 0;
    width: 180px; }
  .app-functions .app-description p {
    font-size: 20px;
    line-height: 1.3em; }
  .app-functions .app-description:hover p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold; }
  .app-functions .additional-app-function-row {
    margin-bottom: 20px; }
  .app-functions .additional-app-function-container {
    margin-top: 20px;
    font-size: 20px;
    overflow: hidden; }
  .app-functions .add-icons-left-panel {
    position: relative;
    left: -1000px; }
  .app-functions .add-icons-right-panel {
    position: relative;
    left: 1000px; }
  .app-functions .additional-app-function-row i {
    color: #d13232; }
  .app-functions .additional-app-function-row i:hover {
    text-shadow: 1px 2px 5px grey; }
  .app-functions .additional-app-function-row p {
    font-size: 15px; }

.team {
  box-sizing: border-box;
  min-height: 450px;
  background-color: #0e5c90;
  color: #ffffff;
  font-weight: bold; }
  .team .team-member {
    padding-top: 30px;
    left: -1500px; }
  .team .team-member:hover {
    padding-top: 25px; }
  .team .team-member-text {
    width: 100%;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 15px 0;
    color: #000000; }
  .team .team-member-photo {
    padding: 0 0; }
  .team .team-member-photo img {
    width: 100%;
    max-width: 230px;
    transition-duration: 0.3s; }
  .team .team-member-photo img:hover {
    position: relative;
    box-shadow: 4px 4px 3px #0F3156; }
  .team .team-member-text, .team i {
    color: #ffffff; }
  .team .social-icons {
    font-size: 10px;
    width: 80%;
    position: relative;
    left: -1000px; }

.newsletter {
  background-color: #595959;
  padding: 5px;
  color: #ffffff; }
  .newsletter button {
    max-width: 150px;
    margin-left: 10px; }
  .newsletter span {
    font-size: 22px; }
  .newsletter .info {
    padding-top: 5px; }
  .newsletter .small-info {
    margin: 0 auto;
    font-size: 12px; }

/*END OF SITE*/
.end {
  height: 50px;
  background-color: #595959;
  color: #ffffff; }
  .end p {
    padding-top: 15px; }

#scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 10px;
  color: #d13232;
  font-size: 40px;
  z-index: 1000;
  display: none;
  opacity: 0.45; }

#scroll-to-top:hover {
  opacity: 1; }

/*******************************************MEDIA QUERIES************************************************************/
/* Bootstrap4 - SM! Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .header-top .zaplanujto-logo {
    max-width: 175px; }
  .header-top .welcome-text {
    font-size: 45px; }

  .news-confirm {
    max-width: 400px; }

  .additional-app-function-row i {
    font-size: 75px; }

  .additional-app-function-row p {
    padding-left: 20px;
    padding-right: 0; } }
#scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 10px;
  font-size: 45px; }

/* Bootstrap4 - MD! Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  nav .nav-item .active {
    color: #0e5c90; }
  nav .nav-item .active a:hover:after, nav .nav-item .active:after {
    display: block;
    content: " ";
    position: absolute;
    bottom: -16px;
    width: 100%;
    background-color: #0e5c90;
    opacity: 0.1;
    left: 0;
    top: -16px; }
  nav .nav-item .active a:hover:before, nav .nav-item .active:before {
    display: block;
    content: " ";
    position: absolute;
    bottom: -16px;
    width: 100%;
    border-top: 3px solid #0e5c90;
    left: 0;
    top: -16px; }

  .header-top .zaplanujto-logo {
    max-width: 200px; }
  .header-top .welcome-text {
    font-size: 45px; }

  /*LinkedIn and User Icons by Piotr Adam Kwiatkowski http://ikons.piotrkwiatkowski.co.uk*/
  .social-icons {
    max-width: 200px; }

  .app-functions .app-functions {
    padding-top: 30px; }
  .app-functions .additional-app-function-row i {
    font-size: 80px; }
  .app-functions .additional-app-function-row p {
    font-size: 17px; }

  #scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 10px; }

  .team-member:last-child {
    padding-bottom: 50px; } }
/*Bootstrap4 - LG & XL!Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .nav-effect {
    transform: scaley(0.8);
    transform-origin: top center;
    transition: 1s ease; }

  nav .nav-item .active {
    color: #0e5c90; }
  nav .nav-item .active a:hover:after, nav .nav-item .active:after {
    display: block;
    content: " ";
    position: absolute;
    bottom: -16px;
    width: 100%;
    background-color: #0e5c90;
    opacity: 0.1;
    left: 0;
    top: -16px; }

  .header-top .zaplanujto-logo {
    max-width: 210px; }
  .header-top .welcome-text {
    font-size: 55px; }

  .app-functions .app-functions {
    padding-top: 30px; }
  .app-functions .additional-app-function-row i {
    font-size: 80px; }
  .app-functions .additional-app-function-row p {
    font-size: 17px;
    padding-left: 20px; }

  #scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 60px; } }

/*# sourceMappingURL=styles.css.map */
