
/*header*/
header{
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.welcome-text {
    color: #A5C0DA;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px #000;
    margin-top: 20%;
}

header h1{
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px #000;
}

/*Horizontal menu*/
.nav-item a {
    color: #5A4A4A;
    font-size: 20px;
    margin: 0 30px;
}

.navbar-brand img {
    height: 70px;
}


/*Section Title*/
.section-title{
    font-size: 1.2em;
    margin-top:20px;
    color: #5A4A4A;
}

/*Email notifier*/

.email-notifier{
    max-height: 200px;
    background-color: red;
}

#about-eig {

}

/*App functions*/
.app-functions{
    min-height: 500px;
}

.app-description {
    border: 4px solid #ffffff;
}

.app-functions-img {

}

/*App additional info*/

.app-more-description {
    border: 4px solid crimson;
}

.app-additional-info{
    background-color: #ffffff;
    min-height: 500px;
}

/*About team*/
.about-team{
    background-color: silver;
    min-height: 400px;
}

/*Footer*/
footer{
    background-color: black;
    color: #fff;
}

/*others*/
.bg-transparent {
    background: transparent;
}