$color-bg-grey: #595959;
$color-bg-light: #F6F6DA;
$color-bg-blue: #0e5c90;
$shadow: #0F3156;
$color-white: #ffffff;
$color-grey-light: #D1D1D1;
$color-white-dirty: #EDF2F4;
$color-accent-red: #d13232;
$color-text-black: #000000;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

.container {
	padding: 0 0;
	min-width: 240px; }

.row {
	margin: 0; }

.section-title {
	font-family: $font-secondary;
	font-weight: bold;
	padding-top: 75px;
}


nav {
	font-family: $font-primary;
	background-color: $color-white;
	box-shadow: 1px 1px 18px $color-bg-blue;
	font-size: 20px;
	transition: all ease .5s;


	button {
		background: $color-bg-grey;
		align-items: center;
		margin: 0 0;
	}

	button:hover {
		opacity: 0.5;
	}

	button:focus {
		outline: none
	}

	.navbar-toggler {
		border: 1px solid $color-grey-light;
	}
	.navbar-brand{
		display: inline-flex;
		align-items: center;
	}

	.navbar-toggler-icon .fa-bars {
		color: $color-white-dirty;
		padding: 4px;
	}

	.nav-item {
		position: relative;
		padding: 0 8px;
	}

	.nav-item a {
		color: $color-bg-blue;
		margin: 0 30px;
	}

	.nav-item a:hover, .nav-item .active {
		color: $color-accent-red;
	}

	.navbar-brand img {
		display: flex;
		min-height: 20px;
		height: 50px;
	}
}

.header-top {
	width: 100%;
	min-height: 400px;
	height: 100vh;
	background: $color-bg-blue url(../images/header-background.jpg) top center no-repeat;
	background-size: cover;



	.zaplanujto-logo{
      	max-width: 150px;
	  	display: none;

	}

	.welcome-text {
		color: $color-white;
		font-family: $font-secondary;
		font-size: 25px;
		font-weight:bold;
		opacity: 0;


	}

    .join-us-btn{
      	color:$color-white;
      	font-size: 20px;
      	font-weight: bold;
      	border: 2px solid $color-white;
      	border-radius: 10px;
      	padding: 5px 15px;
      	text-decoration: none;
      	transition-duration: 0.5s;
	  	opacity: 0;
    }

    .join-us-btn:hover{
      	color: $color-bg-blue;
      	background-color: $color-white;
	}

}

//ABOUT ZAPLANUJTO / 4 ICONS / Eight Additional functions
.app-functions {
	min-height: 500px;
	background-color: $color-bg-light;
	box-sizing: border-box;


	.app-description{
		box-sizing: border-box;
	}


	.app-functions-title p {
		font-size: 25px;
		font-weight: bold;
	}

	.app-description img {
		width: 175px;
		padding: 0 0;
		display: none;
	}

	.app-description img:hover {
		padding-top: 0;
		padding-bottom: 0;
		width: 180px;

	}

	.app-description p {
		font-size: 20px;
		line-height: 1.3em;


	}
	.app-description:hover p {
		padding-bottom: 0;
		margin-bottom: 0;
		font-weight: bold;
	}

	.additional-app-function-row {
		margin-bottom: 20px;
	}

	.additional-app-function-container {
		margin-top: 20px;
		font-size: 20px;
		overflow: hidden;
	}
	.add-icons-left-panel {
		position: relative;
		left: -1000px;
	}
	.add-icons-right-panel{
		position: relative;
		left: 1000px;
	}
	.additional-app-function-row i {
		color: $color-accent-red;
	}

	.additional-app-function-row i:hover {
		text-shadow: 1px 2px 5px grey;
	}
	.additional-app-function-row p{
		font-size: 15px;
	}

}

.team {
	box-sizing: border-box;
	min-height: 450px;
	background-color: $color-bg-blue;
	color: $color-white;
	font-weight: bold;

	.team-member {
		padding-top: 30px;
		left: -1500px;
	}
	.team-member:hover {
		padding-top: 25px;
	}

	.team-member-text {
		width: 100%;
		font-size: 24px;
		font-family: $font-primary;
		font-weight: bold;
		padding: 15px 0;
		color: $color-text-black;
	}

	.team-member-photo {
		padding: 0 0;
	}

	.team-member-photo img {
		width: 100%;
		max-width: 230px;
		transition-duration: 0.3s;
	}

	.team-member-photo img:hover {
		position: relative;
		//max-width: 235px;
		box-shadow: 4px 4px 3px $shadow;
	}

	.team-member-social-icons {
		//padding-bottom: 50px;

	}

	.team-member-text, i {
		color: $color-white;
	}

	.social-icons {
		font-size: 10px;
		width: 80%;
		position: relative;
		left: -1000px;
	}
}

.newsletter {
	background-color: $color-bg-grey;
	padding: 5px;
	color:$color-white;
	button {
		max-width: 150px;
		margin-left: 10px;
	}
	span {
		font-size: 22px;
	}
	.info {
		padding-top: 5px;
	}
	.small-info {
		margin: 0 auto;
		font-size: 12px;
	}

}


/*END OF SITE*/
.end {
	height: 50px;
	background-color: $color-bg-grey;
	color: $color-white;

	p {
		padding-top: 15px;
	}
}

#scroll-to-top{
  position: fixed;
  bottom:15px;
  right: 10px;
  color: $color-accent-red;
  font-size: 40px;
  z-index: 1000;
  display: none;
  opacity: 0.45;


}

#scroll-to-top:hover{
  opacity: 1;
}




/*******************************************MEDIA QUERIES************************************************************/

/* Bootstrap4 - SM! Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {



	//Header logo and Welcome text
	.header-top{
		.zaplanujto-logo{
			max-width: 175px;
		}
		.welcome-text{
			font-size: 45px;
		}
	}

	.news-confirm {
		max-width: 400px;
	}
	.app-functions {

	}
	.additional-app-function-row i {
		font-size: 75px;
	}
	.additional-app-function-row p {
		padding-left: 20px;
		padding-right: 0;
	}
  }
  #scroll-to-top{
    position: fixed;
    bottom:15px;
    right: 10px;
    font-size: 45px;

}

/* Bootstrap4 - MD! Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	nav {
		.nav-item .active {
			color: $color-bg-blue;
		}

		.nav-item .active a:hover:after, .nav-item .active:after {
			display: block;
			content: " ";
			position: absolute;
			bottom: -16px;
			width: 100%;
			background-color: $color-bg-blue;
			opacity: 0.1;
			left: 0;
			top: -16px;
		}

		.nav-item .active a:hover:before, .nav-item .active:before {
			display: block;
			content: " ";
			position: absolute;
			bottom: -16px;
			width: 100%;
			border-top: 3px solid $color-bg-blue;
			left: 0;
			top: -16px;
		}
	}

	//Header logo and Welcome text
	.header-top{
		.zaplanujto-logo{
			max-width: 200px;
		}
		.welcome-text{
			font-size: 45px;
		}
	}
	/*LinkedIn and User Icons by Piotr Adam Kwiatkowski http://ikons.piotrkwiatkowski.co.uk*/
	.social-icons {
		max-width: 200px;
	}
	.app-functions {
		.app-functions {
			padding-top: 30px;
		}
		.additional-app-function-row i {
			font-size: 80px;
		}
		.additional-app-function-row p {
			font-size: 17px;
		}
	}
  #scroll-to-top{
    position: fixed;
    bottom:15px;
    right: 10px;

  }
	.team-member:last-child{
		padding-bottom: 50px;
	}
}

/*Bootstrap4 - LG & XL!Large devices (desktops, 992px and up)*/
@media (min-width: 992px) /*and (max-width: 1199px)*/ {
	nav.nav-effect a {
		padding: 0;
		transition: all 0.5s linear;
	}

	nav.nav-effect img {
		max-height: 30px;
		transition: all 0.5s ease-in ;
	}

	nav.navbar.nav-effect {
		opacity: 0.9;
		height: 45px;
		font-size: 14px;
		transition: all 0.5s ease ;
	}

	nav {
		height: 76px;
		.nav-item .active {
			color: $color-bg-blue;
		}

		.nav-item .active a:hover:after, .nav-item .active:after {
			display: block;
			content: " ";
			position: absolute;
			bottom: -16px;
			width: 100%;
			background-color: $color-bg-blue;
			opacity: 0.1;
			left: 0;
			top: -16px;
		}

	}

	//Header logo and Welcome text
	.header-top {
		.zaplanujto-logo {
			max-width: 210px;
		}
		.welcome-text {
			font-size: 55px;
		}
	}
	.app-functions {
		.app-functions {
			padding-top: 30px;
		}
		.additional-app-function-row i {
			font-size: 80px;
		}
		.additional-app-function-row p {
			font-size: 17px;
			padding-left: 20px;
		}
	}
  #scroll-to-top{
    position: fixed;
    bottom:15px;
    right: 15px;
    font-size: 60px;

  }
}
