$color-bg-grey: #595959;
$color-bg-light: #F6F6DA;
$color-bg-blue: #0e5c90;
$color-white: #ffffff;
$color-grey-light: #D1D1D1;
$color-white-dirty: #EDF2F4;
$color-accent-red: #d13232;
$color-text-black: #000000;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

.container {
	padding: 0 0;
	min-width: 240px; }

.row {
	margin: 0; }

.section-title {
	font-family: $font-secondary;
	font-weight: bold;
	padding-top: 75px;
}

nav {
	font-family: $font-primary;
	background-color: $color-bg-grey;

	button {
		background: $color-bg-grey;
		align-items: center;
		margin: 0 0;
	}

	button:hover {
		opacity: 0.5;
	}

	button:focus {
		outline: none
	}

	.navbar-toggler {
		border: 1px solid $color-grey-light;
	}

	.navbar-toggler-icon .fa-bars {
		color: $color-white-dirty;
		padding: 4px;
	}

	li {
		margin: 0 20px;
	}
	.nav-item a {
		color: $color-white-dirty;
		font-size: 20px;
	}

	.nav-item a:hover {
		color: $color-grey-light;
	}

	.nav-item .active {
		color: $color-white-dirty;
		text-shadow: 2px 2px 2px $color-accent-red;
	}

	.navbar-brand img {
		max-height: 50px;
	}
}

.header-top {
	width: 100%;
	min-height: 400px;
	height: 100vh;
	background: $color-white-dirty url(../images/header-background.jpg) top center no-repeat;
	background-size: cover;


	/*zaplanuj.to LOGO*/
	.zaplanujto-logo{
		max-width: 150px;
	}

	.welcome-text {
		color: $color-white;
		font-family: $font-secondary;
		font-weight:bold;
		font-size:30px;
	}

}

//ABOUT ZAPLANUJTO / 4 ICONS / Eight Additional functions
.app-functions {
	min-height: 500px;
	background-color: $color-bg-light;


	.app-functions-title p {
		font-size: 2em;
		font-weight: bold;
	}

	.app-description{
		margin-top: 1%;
	}

	.app-description img {
		width: 200px;
		padding: 0 0;
	}

	.app-description p {
		padding: 10px 10px;
		font-size: 22px;
		line-height: 1.3em;
	}

	.additional-app-function-row {
		margin-bottom: 20px;
	}

	.additional-app-function-container {
		margin-top: 20px;
		font-size: 20px;
	}

	.additional-app-function-row i {
		color: $color-accent-red;
	}
	.additional-app-function-row p{
		font-size: 15px;
	}

}

.team {
	min-height: 400px;
	background-color: $color-bg-blue;
	color: $color-white;
	font-weight: bold;

	.team-member {
		padding-top: 30px;
	}

	.team-member-text {
		width: 100%;
		font-size: 24px;
		font-family: $font-primary;
		font-weight: bold;
		padding: 15px 0;
		color: $color-text-black;
	}

	.team-member-photo {
		padding: 0 0;
	}

	.team-member-photo img {
		width: 100%;
		max-width: 230px;
	}

	.team-member-social-icons {
		padding-bottom: 50px;

	}

	.team-member-text, i {
		color: $color-white;
	}

	.social-icons {
		font-size: 10px;
		width: 80%;
	}
}

.newsletter {
	background-color: $color-bg-grey;
	padding: 5px;
	color:$color-white;
	button {
		max-width: 150px;
		margin-left: 10px;
	}
	span {
		font-size: 22px;
	}
	.info {
		padding-top: 5px;
	}

}


/*END OF SITE*/
.end {
	height: 50px;
	background-color: $color-bg-grey;
	color: $color-white;

	p {
		padding-top: 15px;
	}
}

/*******************************************MEDIA QUERIES************************************************************/

/* Bootstrap4 - SM! Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	//Header logo and Welcome text
	.header-top{
		.zaplanujto-logo{
			max-width: 200px;
		}
		.welcome-text{
			font-size: 40px;
		}
	}

	.news-confirm {
		max-width: 400px;
	}

	.additional-app-function-row p {
		padding-left: 20px;
		padding-right: 0;
	}

}

/* Bootstrap4 - MD! Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	//Header logo and Welcome text
	.header-top{
		.zaplanujto-logo{
			max-width: 225px;
		}
		.welcome-text{
			font-size: 45px;
		}
	}
	/*LinkedIn and User Icons by Piotr Adam Kwiatkowski http://ikons.piotrkwiatkowski.co.uk*/
	.social-icons {
		max-width: 200px;
	}

	.additional-app-function-row p{
		padding-left: 20px;
		padding-right: 0;
	}
}

/*Bootstrap4 - LG & XL!Large devices (desktops, 992px and up)*/
@media (min-width: 992px) /*and (max-width: 1199px)*/ {
	//Header logo and Welcome text
	.header-top {
		.zaplanujto-logo {
			max-width: 275px;
		}
		.welcome-text {
			font-size: 55px;
		}
	}

}
