body {
  background-color: #0e5c90; }

section {
  box-sizing: border-box;
  width: 800px;
  height: 650px;
  margin: 0 auto;
  box-shadow: #D1D1D1 2px 2px 3px, #D1D1D1 -2px 2px 3px;
  color: #D1D1D1;
  font-family: 'Coiny', cursive;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  background-color: #0e5c90; }

.task-on-map {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px; }

.inactive {
  opacity: 0.4;
  filter: grayscale(100%); }

.top-bar {
  width: 100%;
  height: 60px;
  background-color: #000000;
  border-bottom: 1px solid white;
  box-shadow: 0 3px 10px black; }
  .top-bar .timer-area, .top-bar .live-score-area, .top-bar .task-area, .top-bar .task-icon {
    display: inline-flex;
    position: relative;
    padding-top: 8px; }
  .top-bar .timer-area, .top-bar .live-score-area {
    width: 24%;
    padding-left: 10px;
    color: #FFC125; }
  .top-bar .task-area {
    width: 45%; }
  .top-bar .live-score-area .top-bar-info {
    padding-left: 60px; }
  .top-bar .task-icon {
    width: 5%;
    position: absolute;
    margin-left: -35px;
    margin-top: -3.5px; }
    .top-bar .task-icon img {
      height: 40px;
      width: 40px;
      border: 4px solid #FFC125;
      border-radius: 50%; }
  .top-bar .top-bar-subtitle {
    padding-left: 8px;
    position: absolute;
    color: #D1D1D1; }
  .top-bar .top-bar-info {
    font-size: 40px;
    margin: 0 auto; }
    .top-bar .top-bar-info small {
      font-size: 18px; }

.start-screen .game-rules {
  width: 70%;
  margin: 0 auto;
  line-height: 145%; }
  .start-screen .game-rules .fa {
    color: #0F3156; }
  .start-screen .game-rules .mini-fa {
    color: #FFC125; }
  .start-screen .game-rules .rules-title {
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
    color: #0F3156;
    text-shadow: #FFC125 1px 1px 0px, #FFC125 -1px 1px 0px, #FFC125 -1px -1px 0px, #FFC125 1px -1px 0px; }
  .start-screen .game-rules .action-rule {
    padding-left: 40px; }
    .start-screen .game-rules .action-rule .fa {
      color: #FFC125; }
.start-screen .player-name {
  text-align: center;
  padding: 60px 0 10px 0; }
  .start-screen .player-name input {
    font-family: 'Coiny', cursive;
    width: 30%;
    height: 34px;
    color: #757575;
    border: 4px solid #0F3156;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    outline: none; }
  .start-screen .player-name .valid {
    color: #CC1100;
    border-color: #FFC125; }
  .start-screen .player-name input::placeholder {
    color: #0F3156;
    opacity: 0.5; }
.start-screen .start-button {
  margin: 0 auto;
  text-align: center; }
  .start-screen .start-button .start-game-btn {
    width: 70px;
    height: 70px;
    background: #FFC125;
    border: none;
    border-radius: 50%;
    padding: 0;
    outline: none; }
  .start-screen .start-button .start-game-btn:disabled {
    border: none;
    background-color: #D1D1D1;
    opacity: 0.6; }
    .start-screen .start-button .start-game-btn:disabled .fa {
      color: #000000; }
  .start-screen .start-button .fa {
    color: #CC1100;
    padding: 0; }

.game-screen {
  background-image: url("gfx/game_bg.jpg"); }
  .game-screen .timer-alert {
    color: #CC1100;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s; }
@keyframes blink {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
.score-screen {
  position: relative;
  text-align: center; }
  .score-screen .player-score {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    color: #FFC125;
    text-shadow: #CC1100 1px 1px 0px, #CC1100 -1px 1px 0px, #CC1100 -1px -1px 0px, #CC1100 1px -1px 0px; }
  .score-screen .player-data {
    font-size: 30px; }
  .score-screen .score-table {
    padding-top: 65px;
    text-align: center; }
    .score-screen .score-table i {
      color: #FFC125; }
    .score-screen .score-table .title-before-score-table {
      color: #FFC125;
      font-family: 'Coiny', cursive;
      font-size: 22px; }
    .score-screen .score-table .players-score-table {
      padding-top: 20px;
      width: 35%;
      margin: 0 auto;
      border-collapse: collapse; }
      .score-screen .score-table .players-score-table td {
        padding: 0 8px; }
      .score-screen .score-table .players-score-table .players-place {
        width: 15%;
        text-align: right; }
      .score-screen .score-table .players-score-table .row-with-player {
        border-top: 2px solid #FFC125; }
      .score-screen .score-table .players-score-table .player-name-on-table, .score-screen .score-table .players-score-table .player-score-on-table {
        border-left: 2px solid #FFC125; }
      .score-screen .score-table .players-score-table .player-score-on-table {
        width: 25%;
        text-align: center; }
  .score-screen .play-again {
    width: 100%;
    position: absolute;
    bottom: 80px; }
    .score-screen .play-again .play-again-btn {
      font-family: 'Coiny', cursive;
      color: #0F3156;
      font-size: 30px;
      width: 50%;
      height: 60px;
      background: #FFC125;
      border: 2px solid #0F3156;
      border-radius: 5px;
      padding: 0;
      outline: none; }
    .score-screen .play-again .play-again-btn:hover {
      color: #CC1100;
      border: none;
      box-shadow: #CC1100 2px 2px 3px, #CC1100 -2px 2px 3px, #CC1100 2px -2px 3px, #CC1100 -2px -2px 3px; }

.hidden {
  display: none; }

/*# sourceMappingURL=game.css.map */
