body {
  background: url("gfx/background.jpg") no-repeat fixed top; }

section {
  box-sizing: border-box;
  width: 800px;
  height: 650px;
  margin: 0 auto;
  border: 2px solid #000000;
  color: #D1D1D1;
  font-family: 'Coiny', cursive;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  background-color: #0e5c90; }

.task-on-map {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px; }

.inactive {
  opacity: 0.4;
  filter: grayscale(100%); }

.top-bar {
  width: 100%;
  height: 60px;
  background-color: #000000;
  border-bottom: 1px solid white;
  box-shadow: 0 3px 10px black; }
  .top-bar .timer-area, .top-bar .live-score-area, .top-bar .task-area, .top-bar .task-icon {
    display: inline-flex;
    position: relative;
    padding-top: 8px; }
  .top-bar .timer-area, .top-bar .live-score-area {
    width: 24%;
    padding-left: 10px;
    color: #FFC125; }
  .top-bar .task-area {
    width: 45%; }
  .top-bar .live-score-area .top-bar-info {
    padding-left: 60px; }
  .top-bar .task-icon {
    width: 5%;
    position: absolute;
    margin-left: -35px;
    margin-top: -3.5px; }
    .top-bar .task-icon img {
      height: 40px;
      width: 40px;
      border: 4px solid #FFC125;
      border-radius: 50%; }
  .top-bar .top-bar-subtitle {
    padding-left: 8px;
    position: absolute;
    color: #D1D1D1; }
  .top-bar .top-bar-info {
    font-size: 40px;
    margin: 0 auto; }
    .top-bar .top-bar-info small {
      font-size: 18px; }

.start-screen .game-rules {
  width: 50%;
  margin: 0 auto;
  line-height: 145%; }
  .start-screen .game-rules .fa {
    color: #0F3156; }
  .start-screen .game-rules .rules-title {
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
    color: #0F3156;
    text-shadow: #FFC125 1px 1px 0px, #FFC125 -1px 1px 0px, #FFC125 -1px -1px 0px, #FFC125 1px -1px 0px; }
  .start-screen .game-rules .action-rule {
    padding-left: 40px; }
    .start-screen .game-rules .action-rule .fa {
      color: #FFC125; }
.start-screen .player-name {
  text-align: center;
  padding: 35px 0 10px 0; }
  .start-screen .player-name input {
    font-family: 'Coiny', cursive;
    width: 30%;
    height: 34px;
    color: #757575;
    border: 4px solid #0F3156;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    outline: none; }
  .start-screen .player-name .valid {
    color: #CC1100;
    border-color: #FFC125; }
  .start-screen .player-name input::placeholder {
    color: #0F3156;
    opacity: 0.5; }
.start-screen .start-button {
  margin: 0 auto;
  text-align: center; }
  .start-screen .start-button .start-game-btn {
    width: 70px;
    height: 70px;
    background: #FFC125;
    border: none;
    border-radius: 50%;
    padding: 0;
    outline: none; }
  .start-screen .start-button .start-game-btn:disabled {
    border: none;
    background-color: #D1D1D1;
    opacity: 0.6; }
    .start-screen .start-button .start-game-btn:disabled .fa {
      color: #000000; }
  .start-screen .start-button .fa {
    color: #CC1100;
    padding: 0; }

.game-screen {
  background-image: url("gfx/game_bg.jpg"); }

.hidden {
  display: none; }

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards; }

.is-paused {
  animation-play-state: paused; }

/*# sourceMappingURL=game.css.map */
