$color-bg-blue: #0e5c90;
$color-blue: #0F3156;
$color-black: #000000;
$color-grey-light: #D1D1D1;
$color-red-alert: #CC1100;
$color-yellow: #FFC125;
$color-grey: #757575;

body{
	background: url("gfx/background.jpg") no-repeat fixed top;
}

section {
	box-sizing: border-box;
  	width: 800px;
  	height: 650px;
  	margin: 0 auto;
  	border: 2px solid $color-black;
	color: $color-grey-light;
	font-family: 'Coiny', cursive;
	font-size: 14px;
	letter-spacing: 1px;
	position: relative;
}

.task-on-map {
	position: absolute;
	//border: 2px solid $color-grey-light;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.inactive {
	opacity: 0.4;
	filter: grayscale(100%);
}

.top-bar {
	width: 100%;
	height: 60px;
	background-color: $color-black;
	border-bottom: 1px solid white;
	box-shadow: 0 3px 10px black;

	.timer-area, .live-score-area, .task-area, .task-icon {
		display: inline-flex;
		position: relative;
		padding-top: 8px;
	}
	.timer-area, .live-score-area {
		width: 24%;
		padding-left: 10px;
		color: $color-yellow
	}

	.task-area {
		width: 45%;
	}
	.live-score-area .top-bar-info{
		padding-left: 60px;
	}

	.task-icon {
		width: 5%;
		position: absolute;
		margin-left: -35px;
		margin-top: -3.5px;

		img {
			height: 45px;
			width: 45px;
			border: 4px solid $color-yellow;
			border-radius: 50%;
		}
	}

	.top-bar-subtitle {
		padding-left: 8px;
		position: absolute;
		color: $color-grey-light;
	}

	.top-bar-info {
		font-size: 40px;
		margin: 0 auto;

		small {
			font-size: 18px;
		}
	}
}

.start-screen {
	background-color: $color-bg-blue;

	.game-rules {
		width: 50%;
		margin: 0 auto;
		line-height: 145%;

		.fa {
			color: $color-blue;
		}

		.rules-title {
			font-size: 26px;
			margin-bottom: 8px;
			text-align: center;
			color: $color-blue;
			text-shadow:
				$color-yellow 1px 1px 0px,
				$color-yellow -1px 1px 0px,
				$color-yellow -1px -1px 0px,
				$color-yellow 1px -1px 0px,
		}

		.case-rule {

		}

		.action-rule {
			padding-left: 40px;
			.fa {
				color: $color-yellow;
			}
		}
	}

	.player-name {
		text-align: center;
		padding: 35px 0 10px 0;

		input {
			font-family: 'Coiny', cursive;
			width: 30%;
			height: 34px;
			color: $color-grey;
			border: 4px solid $color-blue;
			border-radius: 4px;
			font-size: 22px;
			text-align: center;
			outline: none;
		}

		.valid {
			color: $color-red-alert;
			border-color: $color-yellow;
		}

		input::placeholder {
			color: $color-blue;
			opacity: 0.5;
		}
	}

	.start-button {
		margin: 0 auto;
		text-align: center;
		.start-game-btn {
			width: 70px;
			height: 70px;
			background: $color-yellow;
			border: none;
			border-radius: 50%;
			padding: 0;
			outline: none;
		}

		.start-game-btn:disabled {
			border: none;
			background-color: $color-grey-light;
			opacity: 0.6;
			.fa {
				color: $color-black;
			}
		}

		.fa {
			color: $color-red-alert;
			padding: 0;
		}
	}
}

.game-screen{
    background-image: url("gfx/game_bg.jpg");
	.test{
		position: relative;
		top: 200;
		font-size: 50px;
	}
}

