$color-bg-blue: #0e5c90;
$color-blue: #0F3156;
$color-black: #000000;
$color-grey-light: #D1D1D1;
$color-red-alert: #CC1100;
$color-yellow: #FFC125;
$color-grey: #757575;

body{
	background: url("gfx/background.jpg") no-repeat fixed top;
}

section {
	box-sizing: border-box;
  	width: 800px;
  	height: 650px;
  	margin: 0 auto;
  	border: 2px solid rgb(255, 0, 255);
	color: $color-grey-light;
	font-family: 'Coiny', cursive;
	font-size: 14px;
	letter-spacing: 1px;
}

img.icon {
	border-radius: 4px;
	border: 2px solid $color-bg-blue
}
.startScreen {
	background-color: $color-bg-blue;


	.gameRules {
		width: 50%;
		margin: 0 auto;
		line-height: 145%;

		.fa {
			color: $color-blue;
		}

		.rulesTitle {
			font-size: 26px;
			margin-bottom: 8px;
			text-align: center;
			color: $color-blue;
			text-shadow:
				$color-yellow 1px 1px 0px,
				$color-yellow -1px 1px 0px,
				$color-yellow -1px -1px 0px,
				$color-yellow 1px -1px 0px,
		}

		.caseRule {

		}

		.actionRule {
			padding-left: 40px;
			.fa {
				color: $color-yellow;
			}
		}


	}

	.playerName {
		text-align: center;

		input {
			width: 30%;
			height: 34px;
			border: 3px solid $color-blue;
			border-radius: 4px;
			font-size: 22px;
			text-align: center;
		}
	}

	.startButton {
		margin: 0 auto;
		text-align: center;
		.startGameBtn {
			width: 70px;
			height: 70px;
			background: none;
			border: 3px solid $color-black;
			border-radius: 50%;
			padding: 0;
		}
	}

	.fa {
		color: black;
	}
}


.gameScreen{
    background-image: url("gfx/game_bg.jpg");
}

.topBar {
	width: 100%;
	height: 60px;
	background-color: $color-black;
	border-bottom: 1px solid white;
	box-shadow: 0 3px 10px black;


	.timerArea, .liveScoreArea, .taskArea, .taskIcon {
		display: inline-flex;
		position: relative;
		padding-top: 8px;
	}
	.timerArea, .liveScoreArea {
		width: 24%;
		padding-left: 10px;
		color: $color-yellow
	}

	.taskArea {
		width: 45%;
	}
	.liveScoreArea .topBarInfo{
		padding-left: 60px;
	}

	.taskIcon {
		width: 5%;
		position: absolute;
		margin-left: -35px;
		padding-top: 10px;

		img {
			height: 40px;
			width: 40px;
			border-color: $color-yellow;
		}
		
	}

	.topBarSubtitle {
		padding-left: 8px;
		position: absolute;
		color: $color-grey-light;
	}

	.topBarInfo {
		font-size: 35px;
		margin: 0 auto;

		small {
			font-size: 18px;
		}
	}
}